# Grimore Environment Configuration File
# Copy this to a file named .env before running docker-compose

# Whitelisted Moxfield crawler credential to bypass Cloudflare
MOXFIELD_USER_AGENT="MoxKey; NickBuildsDecks 019b18d35e85"
